
* {
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: Roboto Condensed,sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

.header {
    
    position: relative;
    top: 27%;
    color: #02FEFF;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}
input {
    border: none;
    width: 60%;
    padding: 10px;
    margin-left: 25px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #02FEFF;
    color: #000000;
    float: left;
    text-align: center;
    font-size: 100%;
    height: 38px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s;
}
.addBtn:hover {
    background-color: #bbb;
}
